{% load static %}


<div class="container">
    <div class="row" >
        <div class="col-lg-2 col-sm-6 col-12 mb-3 align-self-center">
            <a rel='nofollow' href='https://www.linkedin.com/in/adrianhelerea' target="_blank">
                <img class="img-fluid img-thumbnail" src='static/img/linkedinQR_static.png' alt='linkedin'>
            </a>
        </div>
        <div class="col-lg-2 col-sm-6 col-12 mb-3 align-self-center">
            <a rel='nofollow' href='https://github.com/hellyworld/RESUME' target="_blank">
                <img class="img-fluid img-thumbnail" src='static/img/githubQR_static.png' alt='sololearn'>
            </a>
        </div>
        <div class="col-lg-8 col-12 align-self-center">
            <div class="form-row disabled">
                <div class="col-xl-4 col-lg-5 col-4">
                    <div class="form-group">
                        <label class="text-primary" for="senderName2">Name</label>
                        <input type="text" id="senderName2" placeholder="Your name here" required disabled>
                    </div>
                    <div class="form-group">
                        <label class="text-primary" for="senderEmail2">E-mail</label>
                        <input type="text" id="senderEmail2" placeholder="Your e-mail here" required disabled>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 col-xs-12">
                    <div class="form-group">
                        <label class="text-primary" for="messageText2">Message</label>
                        <textarea class="form-control" name="messageText" id="messageText2" placeholder="Your message here" cols="30" rows="2" disabled></textarea>
                    </div>
                    <button class="btn btn-primary btn-block btn-sm" type="submit" disabled>Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
