{% load static %}


{% if all_educations %}
    {% for education in all_educations %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>{{ education.school }}</h3>
                <h6>{{ education.degree }}</h6>
            </div>
            <div class="col-md-4">
                <h6 class="text-sm-left text-md-right text-muted">{{ education.location }}</h6>
                <h6 class="text-sm-left text-md-right text-muted">{{ education.start_date|date:'M Y'}} -
                    {% if education.end_date is null %}
                        Present
                    {% else %}
                        {{ education.end_date|date:'M Y'}}
                    {% endif %}
                </h6>
            </div>
        </div>
        <a data-toggle="collapse" href="#multi_collapse_education_{{ education.id }}">
            <i class="far fa-caret-square-down"></i>
            Details
        </a>
        <div class="container collapse multi-collapse" id="multi_collapse_education_{{ education.id }}">
            {{ education.description | safe }}
        </div>
    </div>
    <br>
    {% endfor %}
{% else %}
    <h2>You don't have any education, so please go back to school!</h2>
{% endif %}
