{% load staticfiles %}

<div class="container">
    <div class="jumbotron text-center pt-3">
        <div class="row">
            <div class="col-md-3">
                <img src="static/img/AdrianHelerea.jpg" alt="Adrian" class="img-thumbnail">
            </div>
            <div class="col-md-9 text-center">
                <h1>Adrian Helerea</h1>
                <blockquote>
                  <h5>“Be the change you wish to see in the world.”</h5>
                  <footer class="blockquote-footer text-right">Mahatma Gandhi</footer>
                </blockquote>

                <h4 class="text-justify"><bolt>My obiective:</bolt></h4>
                <p class="text-justify">
                    As an entry level Python/Django developer with strong ability of self taught and professional
                    development, I am eager to improve my coding abilities through Python with Deep Learning and
                    Machine Learning for Computer Vision.
                </p>
            </div>
        </div>
    </div>
</div>
