{% load staticfiles %}


<div class="container text-left">

  <h3 class="">Coding</h3>
    <div class="container"  >
      <div class="row">
        <div class="col-sm-3">
            <label for="html">HTML</label>
          <div class="progress">
            <div class="progress-bar" id="html" role="progressbar" style="width:60%"></div>
          </div>
        </div>
        <div class="col-sm-3">
            <label for="css">CSS</label>
          <div class="progress">
            <div class="progress-bar" id="css" role="progressbar" style="width:42%"></div>
          </div>
        </div>
        <div class="col-sm-3">
            <label for="js">JavaScript</label>
          <div class="progress">
            <div class="progress-bar" id="js" role="progressbar" style="width:26%"></div>
          </div>
        </div>
        <div class="col-sm-3">
            <label for="jquery">jQuery</label>
          <div class="progress">
            <div class="progress-bar" id="jquery" role="progressbar" style="width:12%"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
            <label for="python">Python</label>
          <div class="progress">
            <div class="progress-bar" id="python" role="progressbar" style="width:38%"></div>
          </div>
        </div>
        <div class="col-sm-3">
            <label for="django">Django</label>
          <div class="progress">
            <div class="progress-bar" id="django" role="progressbar" style="width:52%"></div>
          </div>
        </div>
      </div>
    </div>
    <br>

  <h3>Design</h3>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <label for="autocad">AutoCAD</label>
          <div class="progress">
            <div class="progress-bar" id="autocad" role="progressbar" style="width:89%"></div>
          </div>
        </div>
        <div class="col-sm-3">
            <label for="sketchup">SketchUp</label>
          <div class="progress">
            <div class="progress-bar" id="sketchup" role="progressbar" style="width:32%"></div>
          </div>
        </div>
        <div class="col-sm-3">
            <label for="arcgis">ArcGIS</label>
          <div class="progress">
            <div class="progress-bar" id="arcgis" role="progressbar" style="width:28%"></div>
          </div>
        </div>
        <div class="col-sm-3">
            <label for="quantumgis">QuantumGIS</label>
          <div class="progress">
            <div class="progress-bar" id="quantumgis" role="progressbar" style="width:52%"></div>
          </div>
        </div>
      </div>
    </div>
    <br>

  <h3>Management</h3>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <label for="excel">Excel</label>
          <div class="progress">
            <div class="progress-bar" id="excel" role="progressbar" style="width:68%"></div>
          </div>
        </div>
        <div class="col-sm-3">
            <label for="crm">CRM</label>
          <div class="progress">
            <div class="progress-bar" id="crm" role="progressbar" style="width:45%"></div>
          </div>
        </div>
        <div class="col-sm-3">
            <label for="erp">ERP</label>
          <div class="progress">
            <div class="progress-bar" id="erp" role="progressbar" style="width:32%"></div>
          </div>
        </div>
      </div>
    </div>
    <br>

  <h3>Languages</h3>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <label for="romanian">Romanian</label>
          <div class="progress">
            <div class="progress-bar" id="romanian" role="progressbar" style="width:100%"></div>
          </div>
        </div>
        <div class="col-sm-3">
            <label for="english">English</label>
          <div class="progress">
            <div class="progress-bar" id="english" role="progressbar" style="width:78%"></div>
          </div>
        </div>
        <div class="col-sm-3">
            <label for="german">German</label>
          <div class="progress">
            <div class="progress-bar" id="german" role="progressbar" style="width:8%"></div>
          </div>
        </div>
      </div>
    </div>
    <br>

</div>
