{% load staticfiles %}

{% if all_skills%}
    {% for category in all_categories %}
      <div class="container text-left">

        <h3 class="">{{ category.name }}</h3>
          <div class="container">
            <div class="row">
              {% for skill in category.skill_set.all %}
              <div class="col-sm-3 mb-3">
                  <label for="html">{{ skill.name }}</label>
                <div class="progress">
                  <div class="progress-bar" id="html" role="progressbar" style="width:{{ skill.level }}%"></div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <br>
      </div>
    {% endfor %}
{% else %}
  <h2>You have no skills, so you need to level up!</h2>
{% endif %}
