{% load staticfiles %}


<div class="container">
    <div class="container">
        <ul class="">
          <li>Very well organized, sharp and able to learn new tasks easily</li>
          <li>Adaptable and open minded, ability to prioritize and ambitious</li>
          <li>Flexible, quick to pick up new skills and eager to learn continuously</li>
          <li>Effectively manage crisis and challenging situations</li>
          <li>Resourceful and able to maintain grace under pressure </li>
          <li>Health Conscious – alcohol/drug free, non-smoker</li>
        </ul>
    </div>
</div>
