{% load staticfiles %}


<div class="container">
    <div class="row">
        <div class="col-md-2 col-xs-4 mb-3">
            <a rel='nofollow' href='https://www.linkedin.com/in/adrianhelerea' style='cursor:default'>
                <img class="img-fluid img-thumbnail" src='static/img/linkedinQR.png' alt='linkedin'>
            </a>
        </div>
        <div class="col-md-2 col-xs-4 mb-3">
            <a rel='nofollow' href='https://www.sololearn.com/Profile/2681109' style='cursor:default'>
                <img class="img-fluid img-thumbnail" src='static/img/sololearnQR.png' alt='sololearn'>
            </a>
        </div>
        <form class="form-group col-md-8 col-sx-4">
            <div class="form-row">
                <div class="col-md-4 col-xs-2">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label class="text-primary" for="senderName">Name</label>
                            <input type="text" id="senderName" placeholder="Your name here" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label class="text-primary" for="senderEmail">E-mail</label>
                            <input type="text" id="senderEmail" placeholder="Your e-mail here" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-xs-2">
                    <div class="form-group">
                        <label class="text-primary" for="messageText">Message</label>
                        <textarea class="form-control" name="messageText" id="messageText" placeholder="Your message here" cols="30" rows="2"></textarea>
                    </div>
                    <button class="btn btn-primary btn-block btn-sm" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
