{% load staticfiles %}


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>ScriuCod</h3>
            <h6>Computer Programming</h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-sm-left text-md-right text-muted">2017 - 2018</h6>
        </div>
    </div>
    <a data-toggle="collapse" href="#multi_collapse_education_1">
        <i class="far fa-caret-square-down"></i>
        Details
    </a>
    <div class="container collapse multi-collapse" id="multi_collapse_education_1">
        <ul class="text-justify">
            <li>First module was for initiation in computer programming, used HTML, CSS, JavaScript
                and Django to build different web pages, blogs and apps. From the second module and
                until summer of 2018, I will study Python with Computer Vision and Machine Learning.</li>
            <li>The Python project is used to build a machine that can detect motion, count and identify
                different car types and will save all these data in a database. In the end, it will need
                to generate statistics reports and create basic predictions.</li>
        </ul>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Faculty of Silviculture and Forest Engineering Brasov</h3>
            <h6>Forest Engineer's Degree</h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-sm-left text-md-right text-muted">2005 - 2010</h6>
        </div>
    </div>
    <a data-toggle="collapse" href="#multi_collapse_eeducation_2">
        <i class="far fa-caret-square-down"></i>
        Details
    </a>
    <div class="container collapse multi-collapse" id="multi_collapse_education_2">
        <ul class="text-justify">
            <li>Faculty of Silviculture and Forest Engineering from Transilvania University of Brasov is
                one of the best Silviculture Universities from Romania</li>
        </ul>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Dr. Nicolae Rucareanu H.S Brasov</h3>
            <h6>Forest Technician</h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-sm-left text-md-right text-muted">1998 - 2002</h6>
        </div>
    </div>
    <a data-toggle="collapse" href="#multi_collapse_education_3">
        <i class="far fa-caret-square-down"></i>
        Details
    </a>
    <div class="container collapse multi-collapse" id="multi_education_3">
        <ul class="text-justify">
        </ul>
    </div>
</div>
