{% load staticfiles %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Dexion Storage Solutions</h3>
            <h6>Design Engineer</h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-sm-left text-md-right text-muted">Brasov</h6>
            <h6 class="text-sm-left text-md-right text-muted">April 2015 - Present</h6>
        </div>
    </div>
    <a data-toggle="collapse" href="#multi_collapse_experiece_1">
        <i class="far fa-caret-square-down"></i>
        Details
    </a>
    <div class="container collapse multi-collapse" id="multi_collapse_experiece_1">
        <ul class="text-justify">
            <li>Technical Support for Western Europe Sales Department designing and calculating the structural solution on complex storage solutions.</li>
            <li>Developing and maintaining good relationships with distributors and business partners over Western Europe covering United Kingdom, Holland, Belgium and Poland</li>
            <li>Developing and testing new excel based calculators (VBA, Macro) and DB (Access) in order to improve the quality and increase the productivity of our services over Constructor Group.</li>
        </ul>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Renania Agroinvest</h3>
            <h6>Sales Manager</h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-sm-left text-md-right text-muted">Brasov</h6>
            <h6 class="text-sm-left text-md-right text-muted">August 2014 - March 2016</h6>
        </div>
    </div>
        <a data-toggle="collapse" href="#multi_collapse_experiece_2">
        <i class="far fa-caret-square-down"></i>
        Details
    </a>
    <div class="container collapse multi-collapse" id="multi_collapse_experiece_2">
        <ul class="text-justify">
        </ul>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>NBM</h3>
            <h6>Business Developer and Analyst</h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-sm-left text-md-right text-muted">Brasov</h6>
            <h6 class="text-sm-left text-md-right text-muted">November 2013 - July 2014</h6>
        </div>
    </div>
    <a data-toggle="collapse" href="#multi_collapse_experiece_3">
        <i class="far fa-caret-square-down"></i>
        Details
    </a>
    <div class="container collapse multi-collapse" id="multi_collapse_experiece_3">
        <ul class="text-justify">
            <li>Developed and managed the marketing department and conducting different market research to expand the customers database at national level</li>
            <li>Modernized and extended the production lines in livestock (pigs and beef cattle),  concentrate feeds and meat processing in traditional products</li>
            <li>Prospected and purchased agriculture land</li>
            <li>Researched agrochemical, technical and financial studies</li>
            <li>Due-diligence for various secondary investments (milk and cheese production, soy plantation and full-fat soybean production, cereals silos etc.)</li>
        </ul>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Forest and Biomass Romania
                <br>
                <small>(part of
                    <a class="FVIM" href="https://www.fvim.lu">
                        <abbr title="Forest Value Investment Management">FVIM</abbr>
                    </a>)
                </small>
            </h3>
            <h6>Researcher Forest Engineer<br><small><i>*Testimonial if required</i></small></h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-sm-left text-md-right text-muted">Timisoara</h6>
            <h6 class="text-sm-left text-md-right text-muted">September 2010 - August 2013</h6>
        </div>
    </div>
    <a data-toggle="collapse" href="#multi_collapse_experiece_4">
        <i class="far fa-caret-square-down"></i>
        Details
    </a>
    <div class="container collapse multi-collapse" id="multi_collapse_experiece_4">
        <ul class="text-justify">
            <li>Developed the Forest and Biomass Romania and subsidiaries companies</li>
            <li>Prospection and Acquisition</li>
            <li>Managed the Administrative, Operational and Harvesting Sectors</li>
            <li>Managed and developed the National and Eastern European market</li>
            <li>Managed a R&D energy crops platform</li>
            <li>Liaison with various contractors and collaborators and partners</li>
        </ul>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Global Forest Care
                <br>
                <small>(part of
                    <a class="FVIM" href="https://www.fvim.lu">
                        <abbr title="Forest Value Investment Management">FVIM</abbr>
                    </a>)
                </small>
            </h3>
            <h6>Forest Engineer</h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-sm-left text-md-right text-muted">Brasov</h6>
            <h6 class="text-sm-left text-md-right text-muted">April 2010 - September 2010</h6>
        </div>
    </div>
    <a data-toggle="collapse" href="#multi_collapse_experiece_5">
        <i class="far fa-caret-square-down"></i>
        Details
    </a>
    <div class="container collapse multi-collapse" id="multi_collapse_experiece_5">
        <ul class="text-justify">
            <li>Prospection and Acquisition</li>
        </ul>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>ASK</h3>
            <h6>I.T. Technician</h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-sm-left text-md-right text-muted">Brasov</h6>
            <h6 class="text-sm-left text-md-right text-muted">July 2008 - April 2010</h6>
        </div>
    </div>
    <a data-toggle="collapse" href="#multi_collapse_experiece_6">
        <i class="far fa-caret-square-down"></i>
        Details
    </a>
    <div class="container collapse multi-collapse" id="multi_collapse_experiece_6">
        <ul class="text-justify">
            <li>Installed various I.T. network systems</li>
            <li>Administrated multiple I.T. network systems </li>
            <li>Administrated the entire server facility</li>
            <li>Installed new software and hardware </li>
            <li>Inventory on regular basis </li>
        </ul>
    </div>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>RDS</h3>
            <h6>Network Technician</h6>
        </div>
        <div class="col-md-4">
            <h6 class="text-sm-left text-md-right text-muted">Brasov</h6>
            <h6 class="text-sm-left text-md-right text-muted">August 2002 - July 2003</h6>
        </div>
    </div>
    <a data-toggle="collapse" href="#multi_collapse_experiece_7">
        <i class="far fa-caret-square-down"></i>
        Details
    </a>
    <div class="container collapse multi-collapse" id="multi_collapse_experiece_7">
        <ul class="text-justify">
            <li>Installed new optic fiber networks </li>
            <li>Installed network devices</li>
            <li>Maintenance of the installed devices and network</li>
            <li>Liaison with various contractors</li>
        </ul>
    </div>
</div>
