{% load staticfiles %}

<div class="container">
    <div class="jumbotron text-center pt-3">
        <div class="row">
            <div class="col-md-3">
                <img src="static/img/AdrianHelerea.jpg" alt="Adrian" class="img-thumbnail">
            </div>
            <div class="col-md-9 text-center">
                <h1>Adrian Helerea</h1>
                <blockquote>
                  <h5>“Be the change you wish to see in the world.”</h5>
                  <footer class="blockquote-footer text-right">Mahatma Gandhi</footer>
                </blockquote>

                <h4 class="text-justify"><bolt>My obiective:</bolt></h4>
                <p class="text-justify">Entry level Python/Django developer with strong ability of self
                taught and professional development. Eager to improve my coding abilities through Python
                with Deep Learning and Machine Learning for Computer Vision.
                </p>
                <p class="text-right">
                    <a href="#">
                        <span class="fas fa-envelope mr-2 fa-lg"</span>
                    </a>
                    <span class="fas fa-print mr-2 fa-lg"></span>
                    <a href="">
                        <span onclick="printPage" class="fas fa-cloud-download-alt mr-2 fa-lg"></span>
                    </a>

                    <button>
                        <span onclick="printPage" class="fas fa-cloud-download-alt mr-2 fa-lg"></span>
                    </button>

                    <a href="https://www.linkedin.com/in/adrianhelerea">
                        <span class="fab fa-linkedin fa-lg mr-2 fa-lg"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
